/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.transparent-background {
  background-color: transparent !important;
}

.flex-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.flex-item {
  flex: 1 1 calc(33.333% - 16px);
  box-sizing: border-box;
}
